global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

listen stats
  bind 0.0.0.0:70
  mode http
  log global
  maxconn 10
  stats enable
  stats hide-version
  stats refresh 10s
  stats show-node
  stats scope .
  stats realm Haproxy\ Statistics
  stats uri /haproxy?stats
  stats auth admin:admin

frontend balancer
  bind 0.0.0.0:80
  mode http
  default_backend web_backends

backend web_backends
  mode http
  option forwardfor
  balance roundrobin
  server nginx1 172.16.16.104:81
  server nginx2 172.16.16.104:82
  option httpchk GET /
  http-check expect status 200
